<div class="container" *ngIf="topic">

  <form-template>
    <div class="template-header">
      {{topic.title}}
    </div>
    <div class="template-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let message of messages">
          <div class="row">
            <div class="col-lg-2 col-sm-2 col-xs-2 text-center">
              <p><gravatar [email]="message.sender.email" [size]="80"></gravatar></p>
              <b><a href="">{{message.sender.firstName}} {{message.sender.lastName}}</a></b><br>
              <span><b>{{message.sender.role.name}}</b></span><br>
            </div>
            <div class="col-lg-10 col-sm-9 col-xs-9">
              <pre>{{message.text}}</pre>
              <p class="pull-right">
                <!--<date-parse [date]="message.dateAndTime"></date-parse>-->
              </p>
            </div>
          </div>
        </li>
      </ul>
      <form [formGroup]="messageForm" (ngSubmit)="createNewMessage(messageForm.value)" [ngClass]="{'has-error': !validate('text')}">
        <textarea class="form-control" rows="3" formControlName="text"></textarea>
        <div *ngIf="!validate('text')" class="help-block text-left">
          <span *ngIf="messageForm.get('text')">Message length should be between 2 and 500 characters.</span>
        </div>
        <button type="submit" class="btn btn-primary pull-right" [disabled]="messageForm.invalid">Submit message</button>
      </form>
      <!--<ul class="pagination pull-left">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
      </ul>-->
    </div>
  </form-template>

</div>
