<div class="container">
  <div class="row">
    <div class="header-content">
      <div class="header-content-inner text-center">
        <h1>User dashboard</h1>
        <ul class="nav nav-tabs">
          <li><a [routerLink]="['/home/user/active']">My active requests</a></li>
          <li class="active"><a [routerLink]="['/home/user/closed']">My completed request</a></li>
        </ul>
        <ng2-smart-table ngClass="table" [settings]="settings"
                          [source]="source">
        </ng2-smart-table>
        <pagination [totalItems]="totalItems" [itemsPerPage]="per" (pageChanged)="changed($event)"> </pagination>
      </div>
    </div>
  </div>
</div>

