<div class="container">
  <div class="col-lg-offset-1 col-lg-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title"><b>Private chat</b></span>
      </div>
      <div class="panel-body">
        <div class="col-lg-9">
          <div class="msg" *ngFor="let message of messages">
            <div class="user-info-box">
              <img class="topic-user-logo"
                   src="{{message.author.img}}"
                   alt="topic-user-logo">
              <b><a href="">{{message.author.firstName}}</a><span class="msg-time-info"> {{message.time}}</span></b>
            </div>
            <span class="msg-box {{message.type}}">
              {{message.text}}
            </span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="list-group">
            <a href="#" class="list-group-item active">Bogdan Bachkala</a>
            <a href="#" class="list-group-item">Dasha Romanova</a>
            <a href="#" class="list-group-item">Andrey Karakoy</a>
            <a href="#" class="list-group-item">Viacheslav Rurenko</a>
          </div>
        </div>
        <form action="">
          <div class="form-group col-lg-12">
            <textarea class="form-control" rows="3" placeholder="Message text.."></textarea>
          </div>
          <div class="form-group col-lg-12 submit-form-group">
            <button type="submit" class="btn btn-success pull-right">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
