<div class="container">
    <div class="header-content">
      <div class="header-content-inner text-center">
        <ul class="nav nav-tabs">
          <li class="active"><a [routerLink]="['/home/user/active']">My active requests</a></li>
          <li><a [routerLink]="['/home/user/closed']">My completed request</a></li>
        </ul>
        <r-table *ngIf="loaded" [requests]="requests" [requestsCount]="totalItems" [settings]="settings"
                 (paginationChange)="pageChange($event)" (perChangeLoad)="perChangeLoad($event)"></r-table>
      </div>
  </div>
</div>

