<div class="container" *ngIf="requests">
  <form-template>
    <div class="template-header">
      Requests
      <button class="btn btn-primary btn-xs pull-right" (click)="openFormModal()">New request
      </button>
    </div>
    <div class="template-body">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Date of creation</th>
          <th>Priority Status</th>
          <th>Progress Status</th>
          <th>Reporter</th>
          <th>Assignee</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer;" *ngFor="let request of sorted" [routerLink]="['/request', request.id]">
          <td>{{request.title}}</td>
          <td>{{request.dateOfCreation}}</td>
          <td>{{request.priorityStatus.name}}</td>
          <td>{{request.progressStatus.name}}</td>
          <td>{{request.reporter.firstName}}</td>
          <td>{{request.assignee.firstName}}</td>
        </tr>
        </tbody>
      </table>
      <ul class="pagination pull-right">
        <li class="paginate_button active" (click)="load($event)"><a>1</a></li>
        <li class="paginate_button" (click)="load($event)" *ngFor="let item of createRange(pageCount)"><a>{{item}}</a>
        </li>
      </ul>
    </div>
  </form-template>
  <request-form [requests]="requests" (updated)="updateRequests($event)"></request-form>
</div>
