<div class="container">
  <div class="row top-buffer">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div *ngIf="!recover">
            <strong *ngIf="!register">Login</strong>
            <strong *ngIf="register">Register</strong>
          </div>
          <strong *ngIf="recover">Recover</strong>
        </div>
        <div *ngIf="!recover">
          <app-login (registerMode)="toggleRegister($event)" *ngIf="!register"
                     (recoverMode)="toggleRecover($event)"></app-login>
          <app-register (registerMode)="toggleRegister($event)" *ngIf="register"></app-register>
        </div>
        <app-recover *ngIf="recover"></app-recover>
      </div>
    </div>
  </div>
</div>