<div class="content container">
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <br/>
      <form [formGroup]="profileForm" (ngSubmit)="update(profileForm.value)" autocomplete="on">
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <h5 class="text-center">Your Profile</h5>
          </div>
        </div>
        <div class="row">
          <div id="data" class="col-md-8 col-md-offset-0">
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="form-group" [ngClass]="{'has-error': !validateField('firstName')}">
                  <label class="control-label">First Name</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="firstName" formControlName="firstName" type="text" placeholder="First Name"
                           class="form-control" value="OLD VALUE">
                    <span *ngIf="!validateField('firstName')"
                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                  </div>
                  <div *ngIf="!validateField('firstName')" class="help-block text-left">
                    <span *ngIf="profileForm.get('firstName').hasError('required')">First name required.</span>
                  </div>
                </div>
              </div>

              <div class="col-md-5">
                <div class="form-group" [ngClass]="{'has-error': !validateField('lastName')}">
                  <label class="control-label">Last Name</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="lastName" formControlName="lastName" type="text" placeholder="Last Name"
                           class="form-control" value="OLD VALUE"/>
                    <span *ngIf="!validateField('lastName')"
                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                  </div>
                  <div *ngIf="!validateField('lastName')" class="help-block text-left">
                    <span *ngIf="profileForm.get('lastName').hasError('required')">Last name required.</span>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="form-group" [ngClass]="{'has-error': !validateField('secondName')}">
                  <label class="control-label">Second Name</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="secondName" formControlName="secondName" type="text" placeholder="Second Name"
                           class="form-control" value="OLD VALUE"/>
                    <span *ngIf="!validateField('secondName')"
                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="form-group" [ngClass]="{'has-error': !validateField('birthDate')}">
                  <label class="control-label">Date of birth</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input id="birthDate" formControlName="birthDate" type="date" placeholder="Date of birth"
                           class="form-control" value=""/>
                    <span *ngIf="!validateField('birthDate')"
                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                  </div>
                  <div *ngIf="!validateField('birthDate')" class="help-block text-left">
                    <span *ngIf="profileForm.get('birthDate').hasError('dateISO')">Invalid date.</span>
                  </div>
                </div>

              </div>
              <div class="col-md-5 ">
                <div class="form-group" [ngClass]="{'has-error': !validateField('phoneNumber')}">
                  <label class="control-label">Phone</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                    <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="Phone Number"
                           class="form-control" value=""/>
                    <span *ngIf="!validateField('phoneNumber')"
                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                  </div>
                  <div *ngIf="!validateField('phoneNumber')" class="help-block text-left">
              <span *ngIf="profileForm.get('phoneNumber').hasError('phone')">
                Invalid phone number. Example: 0671234567</span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="form-group" [ngClass]="{'has-error': !validateField('email')}">
                  <label class="control-label">Email</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email"
                           value="">
                    <span *ngIf="!validateField('email')"
                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                  </div>
                  <div *ngIf="!validateField('email')" class="help-block text-left">
                    <span *ngIf="profileForm.get('email').hasError('required')">Email address required.</span>
                    <span *ngIf="profileForm.get('email').hasError('email')">Invalid email address.</span>
                  </div>
                </div>

              </div>

              <div class="col-md-5 ">
                <div class="form-group" [ngClass]="{'has-error': !validateField('password')}">
                  <label class="control-label">Password</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" id="password" formControlName="password" class="form-control"
                           placeholder="Password" value="">
                    <span *ngIf="!validateField('password')"
                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                  </div>
                  <div *ngIf="!validateField('password')" class="help-block text-left">
                    <span *ngIf="profileForm.get('password').hasError('required')">Password required.</span>
                    <span *ngIf="profileForm.get('password').hasError('minlength')">
                Password invalid. Password must be at least six characters long.</span>
                  </div>
                </div>
              </div>
            </div>

            <br/>
          </div>

          <div id="foto" class="col-md-4 ">
            <div>
              <img src="app/pages/profile/dummy_user.jpg" class="dummy_user"/>
            </div>
            <label class="control-label">Your foto</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <button type="submit" class="btn btn-success" [disabled]="profileForm.invalid" style="width: 150px;">Update
            </button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success" (click)="cancel()" style="width: 150px; margin-left: 100px;">Cancel</button>
          </div>
        </div>
        <br/>
      </form>

    </div>
  </div>
</div>

