<div class="container content">
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <br/>

      <div class="row">
        <div class="col-md-2 col-md-offset-1">
          <h5 class="text-left">Profile</h5>
        </div>
        <div class="col-md-1 col-md-offset-8">
          <button type="button" class="btn btn-success btn-xl" (click)="edit()">Edit</button>
        </div>
      </div>

      <div class="row">
        <div id="data" class="col-md-7 col-md-offset-0">
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group">
                <label class="control-label">First Name</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" name="first_name" placeholder="ex: Mike" type="text" disabled
                         value="TEST">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label class="control-label">Last Name</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" name="last_name" type="text"
                         aria-required="true" disabled value="TEST">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-group">
                <label class="control-label">Second Name</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" name="last_name" placeholder="ex: Andrew" type="text"
                         aria-required="true" disabled value="TEST">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group">
                <label class="control-label">Date of birth</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  <input class="form-control" name="birthDate" type="date" disabled value="TEST">
                </div>
              </div>
            </div>
            <div class="col-md-5 ">
              <div class="form-group">
                <label class="control-label">Phone</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                  <input class="form-control" name="phone" type="text" disabled value="0971234567">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group">
                <label class="control-label">Email</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input class="form-control" email="true" name="email" type="text" disabled value="test@gmail.com">
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
        <div id="foto" class="col-md-3 ">
          <div>
            <img src="app/pages/profile/dummy_user.jpg" class="dummy_user"/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

