.content{
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
}

.dummy_user {
  width: 250px;
  height: 250px;
  border: solid darkgray 3px;
  border-radius: 3%;
}
