<div id="request-form" class="container modal fade">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">{{request.title}} <a href="/overseer"><span class="glyphicon glyphicon-remove pull-right close-box" aria-hidden="true"></span></a></p>
    </div>
    <div class="panel-body">
      <!-- DETAILS & PEOPLES -->
      <div class="row">
        <div class="col-lg-8">
          <p><b>Details:</b></p>
          <table class="table">
            <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Type:</td>
              <td>{{request.type}}</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Progress status:</td>
              <td>
                <div class="btn-group btn-group-xs">
                  <button type="button" class="btn btn-success btn-sm">{{request.progressStatus}}</button>
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Closed</a></li>
                    <li><a href="#">Reopen</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Priority status:</td>
              <td>
                <div class="btn-group btn-group-xs">
                  <button type="button" class="btn btn-danger btn-sm">{{request.priorityStatus}}</button>
                  <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Middle</a></li>
                    <li><a href="#">Low</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Date of creation:</td>
              <td>{{request.dateOfCreation}}</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Estimate time(in days):</td>
              <td>{{request.estimateTime}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <p><b>Peoples:</b></p>
          <table class="table">
            <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Reporter:</td>
              <td>
                <a href="#">{{request.reporter.firstName}} {{request.reporter.lastName}}</a>
              </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Assignee:</td>
              <td>
                <a href="#">{{request.assignee.firstName}} {{request.assignee.lastName}}</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- DESCRIPTION -->
      <div class="row">
        <div class="col-lg-12">
          <p><b>Description:</b>
            <span (click)="changeShowDescription()" *ngIf="showDescription == true" class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowDescription()" *ngIf="showDescription == false" class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <table class="table">
            <tbody >
            <tr>
              <td *ngIf="showDescription">{{request.description}}</td>
              <td *ngIf="!showDescription"><i>Click arrow down to show full description</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="request.type == 'Request group'">
        <div class="col-lg-12">
          <p><b>Sub requests:</b></p>
          <ul class="list-group">
            <li *ngFor="let subRequest of request.subRequests" class="list-group-item">
              <a href="#">{{subRequest.title}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- HISTORY -->
      <div class="row">
        <div class="col-lg-12">
          <p><b>History:</b>
            <span (click)="changeShowHistory()" *ngIf="showHistory == true" class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowHistory()" *ngIf="showHistory == false" class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <ul class="list-group" *ngIf="showHistory">
            <li *ngFor="let historyItem of request.historyDetails" class="list-group-item">
              <span class="badge">{{historyItem.dateOfChange}}</span>
              <a href="#">{{historyItem.changer.firstName}} {{historyItem.changer.lastName}}</a>
              changed {{historyItem.columnName}}
              from '{{historyItem.oldValue}}' to '{{historyItem.newValue}}'
            </li>
          </ul>
          <table class="table" *ngIf="!showHistory">
            <tbody >
            <tr>
              <td><i>Click arrow down to show full history</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
