<div class="container" *ngIf="user">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <strong>Edit Profile</strong>
      </div>
      <div class="panel-body">
        <form [formGroup]="editProfileForm" (ngSubmit)="update(editProfileForm.value)" autocomplete="on">

          <!--USER FIRST NAME-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('firstName')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="firstName" [(ngModel)]="user.firstName" type="text" placeholder="First Name"
                     class="form-control" [ngModelOptions]="{standalone: true}">
              <span *ngIf="!validateField('firstName')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('firstName')" class="help-block text-left">
              <span *ngIf="editProfileForm.get('firstName').hasError('required')">First name required.</span>
            </div>
          </div>
          <!--USER LAST NAME-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('lastName')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="lastName" [(ngModel)]="user.lastName" type="text" placeholder="Last Name"
                     class="form-control" [ngModelOptions]="{standalone: true}"/>
              <span *ngIf="!validateField('lastName')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('lastName')" class="help-block text-left">
              <span *ngIf="editProfileForm.get('lastName').hasError('required')">Last name required.</span>
            </div>
          </div>
          <!--USER SECOND NAME-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('secondName')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="secondName" [(ngModel)]="user.secondName" type="text" placeholder="Second Name"
                     class="form-control" [ngModelOptions]="{standalone: true}"/>
              <span *ngIf="!validateField('secondName')"
                    class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
          </div>
          <!--USER EMAIL-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('email')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="email" id="email" [(ngModel)]="user.email" class="form-control" placeholder="Email"
                     [ngModelOptions]="{standalone: true}">
              <span *ngIf="!validateField('email')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('email')" class="help-block text-left">
              <span *ngIf="editProfileForm.get('email').hasError('required')">Email address required.</span>
              <span *ngIf="editProfileForm.get('email').hasError('email')">Invalid email address.</span>
            </div>
          </div>
          <!--USER PASSWORD-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('password')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" id="password" [(ngModel)]="user.password" class="form-control"
                     placeholder="Password"
                     [ngModelOptions]="{standalone: true}">
              <span *ngIf="!validateField('password')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('password')" class="help-block text-left">
              <span *ngIf="editProfileForm.get('password').hasError('required')">Password required.</span>
              <span *ngIf="editProfileForm.get('password').hasError('minlength')">
                Password invalid. Password must be at least six characters long.</span>
            </div>
          </div>
          <!--USER BIRTH DATE-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('birthDate')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input id="birthDate" [(ngModel)]="user.birthDate" type="date" placeholder="Date of birth"
                     class="form-control" [ngModelOptions]="{standalone: true}"/>
              <span *ngIf="!validateField('birthDate')" class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('birthDate')" class="help-block text-left">
              <span *ngIf="editProfileForm.get('birthDate').hasError('dateISO')">Invalid date.</span>
            </div>
          </div>
          <!--USER PHONE NUMBER-->
          <div class="form-group" [ngClass]="{'has-error': !validateField('phoneNumber')}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
              <input id="phoneNumber" [(ngModel)]="user.phoneNumber" type="text" placeholder="Phone Number"
                     class="form-control" [ngModelOptions]="{standalone: true}"/>
              <span *ngIf="!validateField('phoneNumber')"
                    class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <div *ngIf="!validateField('phoneNumber')" class="help-block text-left">
              <span *ngIf="editProfileForm.get('phoneNumber').hasError('phone')">
                Invalid phone number. Example: 0671234567</span>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-success col-lg-6" [disabled]="editProfileForm.invalid">Update</button>
            <button type="button" class="btn btn-success col-lg-6" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

