<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <div class="logo">
        <img src="http://aminoapps.com/static/img/user-icon-placeholder.png" class="img-responsive center-block" alt="Logo">
      </div>
    </li>
    <!--This div will be visible regardless of role-->
    <li>
      <a [routerLink]="['/profile']">Profile</a>
    </li>
    <li>
      <a [routerLink]="['/forum']">Forum</a>
    </li>
    <li>
      <a [routerLink]="['/topic']">Topic</a>
    </li>
    <li>
      <a [routerLink]="['/chat']">Chat</a>
    </li>
    <li>
      <a [routerLink]="['/message']">Send Message</a>
    </li>
    <!--Show this div, if user's role is Admin -->
    <li>
      <a [routerLink]="['/users']" *ngIf="isAdmin()">Show all users</a>
    </li>
    <li>
      <a href="#" *ngIf="isAdmin()">Show all requests</a>
    </li>
    <!--Show this div, if user's role is Manager -->
    <li>
      <a href="#" *ngIf="isManager()">Show all requests</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
