<!-- Sidebar -->
<div id="sidebar-wrapper">

  <ul class="sidebar-nav">
    <li class="logo" *ngIf="user">
      <gravatar [email]="user.email" [size]="80"></gravatar>
    </li>
    <!--This div will be visible regardless of role-->
    <li>
      <a [routerLink]="['/profile']">Profile</a>
    </li>
    <li>
      <a [routerLink]="['/forum']">Forum</a>
    </li>
    <li>
      <a [routerLink]="['/forum/topic']">Topic</a>
    </li>
    <li>
      <a [routerLink]="['/forum/chat']">Chat</a>
    </li>
    <li>
      <a [routerLink]="['/forum/message']">Send Message</a>
    </li>
    <li>
      <a [routerLink]="['/forum/inbox']">Inbox</a>
    </li>
    <!--Show this div, if user's role is Admin -->
    <li>
      <a [routerLink]="['/users']" *ngIf="isAdmin()">Show all users</a>
    </li>
    <li>
      <a [routerLink]="['/requests']" *ngIf="isAdmin()">Show all requests</a>
    </li>
    <li>
      <a [routerLink]="['/reports']" *ngIf="isAdmin()">Reports</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
