<!-- Sidebar -->
<div id="sidebar-wrapper">

  <ul class="sidebar-nav">
    <br/>
    <li class="logo" *ngIf="user">
      <a side-bar [routerLink]="['/profile']">
        <gravatar [email]="user.email" [size]="80"></gravatar>
         {{user.firstName}}
      </a>
    </li>
    <br/>
    <!--This div will be visible regardless of role-->
    <li>
      <a side-bar [routerLink]="['/profile']">Profile</a>
    </li>
    <li>
      <a side-bar [routerLink]="['/forum']">Forum</a>
    </li>
    <li>
      <a side-bar [routerLink]="['/forum/chat']">Chat</a>
    </li>
    <!--Show this div, if user's role is Admin -->
    <li>
      <a side-bar [routerLink]="['/users']" *ngIf="isAdmin()">All users</a>
    </li>
    <li>
      <a side-bar [routerLink]="['/requests']" *ngIf="isAdmin()">All requests</a>
    </li>
    <li>
      <a side-bar [routerLink]="['/reports']" *ngIf="isManager() || isAdmin()">Reports</a>
    </li>
    <!--Show this div, if user's role is Manager -->
    <li>
      <a side-bar [routerLink]="['/requests/inProgress']" *ngIf="isManager()">Requests</a>
    </li>
    <li>
      <a [routerLink]="['/calendar']" *ngIf="isManager()">Calendar</a>
    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->

