<div class="whiteBackground"><a class="space" ngClass="hov btn btn-primary" (click)="staticModal.show()"><span>New request</span></a></div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add new request</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userFormGroup" (ngSubmit)="createNewSimpleRequest(userFormGroup.value)"  novalidate>
          <div class="form-group">
            <label for="title" class="pull-left">Title</label>
            <input id="title" class="form-control" type="text" formControlName="title"/>
            <div *ngIf="!validate('title')" class="help-block text-left">
              <span *ngIf="userFormGroup.get('title').hasError('required')">Title required.</span>
              <span *ngIf="userFormGroup.get('title').hasError('maxlength')">Must not be more then 45 characters.</span>
              <span *ngIf="userFormGroup.get('title').hasError('minlength')">Must be more then 5 characters.</span>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="pull-left">Description</label>
            <textarea id="description" class="form-control" formControlName="description"></textarea>
            <div *ngIf="!validate('description')" class="help-block text-left">
              <span *ngIf="userFormGroup.get('description').hasError('required')">Description required.</span>
              <span *ngIf="userFormGroup.get('description').hasError('maxlength')">Must not be more then 200 characters.</span>
              <span *ngIf="userFormGroup.get('description').hasError('minlength')">Must  be more then 10 characters.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="pull-left">Priority</label>
            <select class="form-control" formControlName="priorityStatus">
              <option *ngFor="let priority of priorities" [ngValue]="priority">{{priority.name}}</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <button class="btn btn-success" type="submit" [disabled]="userFormGroup.invalid">Create</button>
            <button class="btn btn-danger" (click)="staticModal.hide(); $event.preventDefault()"> Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
