<div class="col-lg-offset-3 col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <b class="panel-title">Something goes wrong...</b>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4">
          <img src="http://s020.radikal.ru/i710/1703/5e/0cee0883dd9c.jpg" alt="error-img">
        </div>
        <div class="col-lg-8 text-center">
          <h2 class="err-msg">ERROR {{error.status}}</h2>
          <h5>{{error.message}}</h5>
          <a href="/home"><button class="btn btn-primary">Go home</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
