table {
  background-color: white;
}

.paginate_button {
  cursor: pointer;
}

.pagination {
  margin: 0;
}

.buttons {
  margin-bottom: 0;
}

.delete-col {
  width: 20px;
}

.search {
  padding-right: 0;
}

td {
  text-align: left;
}
