table {
  background-color: white;
}

.paginate_button {
  cursor: pointer;
}

.pagination {
  margin: 0;
}

.buttons {
  margin-bottom: 0;
}

.delete-col {
  width: 20px;
}

.search {
  padding-right: 0;
}

td {
  text-align: left;
}

th:hover {
  background-color: #337AB7;
  color: white;
  cursor: pointer;
}

.td-center {
  text-align: center;
}

.glyphicon-triangle-bottom:before, .glyphicon-triangle-top:before {
  vertical-align: middle;
}
