.conteiner{
  width: 100%;
  height: auto;
  /*float: left;*/
}

.barChart{
  width: 1100px;
  height: auto;
  margin: 0 auto;
}

.lineChart {
  width: 1100px;
  height: auto;
  margin: 0 auto;
}

.input-form{
  width: 100%;
}

