<div class="container" *ngIf="requests">
  <form-template>
    <div class="template-header">
      Requests
      <button class="btn btn-primary btn-xs pull-right" (click)="openFormModal()">New request
      </button>
    </div>
    <div class="template-body">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th (click)="changeOrderParams(!orderType, 'title')">Title
            <span *ngIf="orderType && orderField == 'title'" class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'title'" class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th (click)="changeOrderParams(!orderType, 'dateOfCreation')">Date of creation
            <span *ngIf="orderType && orderField == 'dateOfCreation'" class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'dateOfCreation'" class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th (click)="changeOrderParams(!orderType, 'priorityStatus.name')" style="width: 150px">Priority
            <span *ngIf="orderType && orderField == 'priorityStatus.name'" class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'priorityStatus.name'" class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th (click)="changeOrderParams(!orderType, 'progressStatus.name')" style="width: 150px">Progress
            <span *ngIf="orderType && orderField == 'progressStatus.name'" class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'progressStatus.name'" class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th (click)="changeOrderParams(!orderType, 'reporter.firstName')">Reporter
            <span *ngIf="orderType && orderField == 'reporter.firstName'" class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'reporter.firstName'" class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th (click)="changeOrderParams(!orderType, 'assignee.firstName')">Assignee
            <span *ngIf="orderType && orderField == 'assignee.firstName'" class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'assignee.firstName'" class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th>Details</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="text" [(ngModel)]="searchTypes.title" class="form-control"/>
          </td>
          <td>
            <input type="date" [(ngModel)]="searchTypes.date" class="form-control"/>
          </td>
          <td>
            <select class="form-control" [(ngModel)]="searchTypes.priorityStatus">
              <option></option>
              <option>High</option>
              <option>Normal</option>
              <option>Low</option>
            </select>
          </td>
          <td>
            <select class="form-control" [(ngModel)]="searchTypes.progressStatus">
              <option></option>
              <option>Free</option>
              <option >In progress</option>
              <option>Joined</option>
              <option>Closed</option>
            </select>
          </td>
          <td>
            <input type="text" [(ngModel)]="searchTypes.reporterName" class="form-control"/>
          </td>
          <td>
            <input type="text" [(ngModel)]="searchTypes.assigneeName" class="form-control"/>
          </td>
          <td class="td-center"><span class="glyphicon glyphicon-info-sign text-center"></span></td>
          <td class="td-center"><span class="glyphicon glyphicon-trash text-center"></span></td>
        </tr>
        <tr style="cursor: pointer;" *ngFor="let request of sorted | filter: searchTypes | sort: {field: orderField, order: orderType}" >
          <td>{{request.title}}</td>
          <td><date-parse [date]="request.dateOfCreation"></date-parse></td>
          <td>{{request.priorityStatus.name}}</td>
          <td>{{request.progressStatus.name}}</td>
          <td>{{request.reporter.firstName}}</td>
          <td>{{request.assignee.firstName}}</td>
          <td class="text-center delete-col">
           <!-- <button [routerLink]="['/request', request.id]" class="glyphicon glyphicon-info-sign center-block btn btn-primary btn-xs"></button> -->
          </td>
          <td class="text-center delete-col">
            <button [attr.value]="request.id" class="glyphicon glyphicon-trash center-block btn btn-danger btn-xs"
                    (click)="openDeleteRequestModal(request)"></button>
          </td>
        </tr>
        </tbody>
      </table>
      <select class="form-control pull-left" style="width: 90px;">
        <option>10</option>
        <option selected>20</option>
        <option>50</option>
        <option>100</option>
      </select>
      <ul class="pagination pull-right">
        <li class="paginate_button active" (click)="load($event)"><a>1</a></li>
        <li class="paginate_button" (click)="load($event)" *ngFor="let item of createRange(pageCount)"><a>{{item}}</a>
        </li>
      </ul>
    </div>
  </form-template>
  <request-form [requests]="requests" (updated)="updateRequests($event)"></request-form>
  <delete-request [requests]="requests" (updated)="updateRequests($event)"></delete-request>
</div>

