<div *ngIf="requests.length > 0">

  <form-template>
    <div class="template-body">
      <div class="space">
        <button ngClass="removSpace" *ngIf="settings.add" class="btn btn-success pull-right" (click)="openFormModal()">New request</button>
        <button *ngIf="settings.multiSelect && checked.length > 1" class="btn btn-danger" (click)="uncheck()">Uncheck
          all
        </button>
        <button *ngIf="settings.join && checked.length > 1" class="btn btn-primary" (click)="join()">Join</button>
        <button *ngIf="settings.reopen && checked.length > 1" class="btn btn-primary block"
                (click)="reopen()">Reopen
        </button>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th *ngIf="settings.multiSelect"></th>
          <th *ngIf="settings.columns.title" (click)="changeOrderParams(!orderType, 'title')">Title
            <span *ngIf="orderType && orderField == 'title'" class="glyphicon glyphicon-triangle-bottom pull-right"
                  aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'title'" class="glyphicon glyphicon-triangle-top pull-right"
                  aria-hidden="true"></span>
          </th>
          <th *ngIf="settings.columns.dateOfCreation" (click)="changeOrderParams(!orderType, 'dateOfCreation')">Date of
            creation
            <span *ngIf="orderType && orderField == 'dateOfCreation'"
                  class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'dateOfCreation'"
                  class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th *ngIf="settings.columns.estimate" (click)="changeOrderParams(!orderType, 'estimateTimeInDays')">Estimate
            time
            <span *ngIf="orderType && orderField == 'estimateTimeInDays'"
                  class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'estimateTimeInDays'"
                  class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th *ngIf="settings.columns.priorityStatus" (click)="changeOrderParams(!orderType, 'priorityStatus.name')"
              style="width: 150px">Priority
            <span *ngIf="orderType && orderField == 'priorityStatus.name'"
                  class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'priorityStatus.name'"
                  class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th *ngIf="settings.columns.progressStatus" (click)="changeOrderParams(!orderType, 'progressStatus.name')"
              style="width: 150px">Progress
            <span *ngIf="orderType && orderField == 'progressStatus.name'"
                  class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'progressStatus.name'"
                  class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th *ngIf="settings.columns.reporter" (click)="changeOrderParams(!orderType, 'reporter.firstName')">Reporter
            <span *ngIf="orderType && orderField == 'reporter.firstName'"
                  class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'reporter.firstName'"
                  class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th *ngIf="settings.columns.assignee" (click)="changeOrderParams(!orderType, 'assignee.firstName')">Assignee
            <span *ngIf="orderType && orderField == 'assignee.firstName'"
                  class="glyphicon glyphicon-triangle-bottom pull-right" aria-hidden="true"></span>
            <span *ngIf="!orderType && orderField == 'assignee.firstName'"
                  class="glyphicon glyphicon-triangle-top pull-right" aria-hidden="true"></span>
          </th>
          <th *ngIf="settings.delete">Delete</th>
          <th *ngIf="settings.assign">Assign</th>
          <th *ngIf="settings.close">Close</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="settings.filterRow">
          <td *ngIf="settings.multiSelect"></td>
          <td *ngIf="settings.columns.title">
            <input type="text" [ngModel]="searchDTO.title" (ngModelChange)="setTitleSearch('title', $event)" class="form-control"/>
          </td>
          <td *ngIf="settings.columns.dateOfCreation">
            <input type="date" [ngModel]="searchDTO.dateOfCreation" (ngModelChange)="setTitleSearch('dateOfCreation', $event)" class="form-control"/>
          </td>
          <td *ngIf="settings.columns.estimate">
            <input type="text" [ngModel]="searchDTO.estimate" (ngModelChange)="setTitleSearch('estimate', $event)" class="form-control"/>
          </td>
          <td *ngIf="settings.columns.priorityStatus">
            <select class="form-control" [ngModel]="searchDTO.priority" (ngModelChange)="setTitleSearch('priority', $event)">
              <option></option>
              <option>High</option>
              <option>Normal</option>
              <option>Low</option>
            </select>
          </td>
          <td *ngIf="settings.columns.progressStatus">
            <select class="form-control" [ngModel]="searchDTO.progress" (ngModelChange)="setTitleSearch('progress', $event)">
              <option></option>
              <option>Free</option>
              <option>In progress</option>
              <option>Joined</option>
              <option>Closed</option>
            </select>
          </td>
          <td *ngIf="settings.columns.reporter">
            <input type="text" [ngModel]="searchDTO.reporterName" (ngModelChange)="setTitleSearch('reporterName', $event)" class="form-control"/>
          </td>
          <td *ngIf="settings.columns.assignee">
            <input type="text" [ngModel]="searchDTO.assigneeName" (ngModelChange)="setTitleSearch('assigneeName', $event)" class="form-control"/>
          </td>
          <td class="td-center" *ngIf="settings.delete"><span class="glyphicon glyphicon-trash text-center"></span></td>
          <td class="td-center" *ngIf="settings.assign"><span class="glyphicon glyphicon-plus text-center"></span></td>
          <td class="td-center" *ngIf="settings.close"><span class="center-block btn btn-success">Close</span></td>
        </tr>
        <tr style="cursor: pointer;"
            *ngFor="let request of sorted | filter: searchTypes | sort: {field: orderField, order: orderType }">
          <td *ngIf="settings.multiSelect"><input [attr.value]="request.id" class="check-box"
                                                  [checked]="isChecked(request.id)"
                                                  type="checkbox" #that (click)="check(that.value)"></td>
          <td *ngIf="settings.columns.title" [routerLink]="settings.info ? ['/request', request.id]: null">
            {{request.title}}
          </td>
          <td *ngIf="settings.columns.dateOfCreation" [routerLink]="settings.info ? ['/request', request.id]: null">
            <date-parse [date]="request.dateOfCreation"></date-parse>
          </td>
          <td *ngIf="settings.columns.estimate" [routerLink]="settings.info ? ['/request', request.id]: null">
            {{request.estimateTimeInDays}}
          </td>
          <td *ngIf="settings.columns.priorityStatus" [routerLink]="settings.info ? ['/request', request.id]: null">
            {{request.priorityStatus.name}}
          </td>
          <td *ngIf="settings.columns.progressStatus" [routerLink]="settings.info ? ['/request', request.id]: null">
            {{request.progressStatus.name}}
          </td>
          <td *ngIf="settings.columns.reporter" [routerLink]="settings.info ? ['/request', request.id]: null">
            {{request.reporter.firstName}}
            {{request.reporter.lastName}}
          </td>
          <td *ngIf="settings.columns.assignee" [routerLink]="settings.info ? ['/request', request.id]: null">
            {{request.assignee.firstName}}
            {{request.assignee.lastName}}
          </td>
          <td class="text-center delete-col" *ngIf="settings.delete">
            <span [attr.value]="request.id" class="glyphicon glyphicon-trash center-block btn btn-danger btn-xs"
                  (click)="openDeleteRequestModal(request)"></span>
          </td>
          <td class="text-center " *ngIf="settings.assign">
            <span [attr.value]="request.id" class="glyphicon glyphicon-plus center-block btn btn-xs"
                  (click)="openAssignRequestModal(request)"></span>
          </td>
          <td class="text-center" *ngIf="settings.close">
            <button class="center-block btn btn-success" (click)="close(request)">Close</button>
          </td>
        </tr>
        </tbody>
      </table>
      <select #perPageSelect class="form-control pull-left" style="width: 90px;"
              (change)="perPageChange(perPageSelect.value)">
        <option>10</option>
        <option selected>20</option>
        <option>50</option>
        <option>100</option>
      </select>
      <div class="text-center">
        <pagination [totalItems]="requestsCount"
                    [itemsPerPage]="perPage" (pageChanged)="changed($event)">
        </pagination>
      </div>

    </div>

  </form-template>
  <request-form *ngIf="settings.add " [requests]="requests" (updated)="updateRequests($event)"></request-form>
  <delete-request *ngIf="settings.delete" [requests]="requests" (updated)="updateRequests($event)"></delete-request>
  <assign-request *ngIf="settings.assign" [requests]="requests" (updated)="updateRequests($event)"></assign-request>
  <join-request *ngIf="settings.join" [requests]="requests" [checked]="checked"
                (updated)="updateRequests($event)"></join-request>
  <close-request *ngIf="settings.close" [requests]="requests" (updated)="updateRequests($event)"></close-request>
</div>

