<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/overseer']">Overseer</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!isSignedIn">
          <a [routerLink]="['/overseer']">Home</a>
        </li>
        <li routerLinkActive="active" *ngIf="isSignedIn">
          <a [routerLink]="['/home']">Home</a>
        </li>

        <li routerLinkActive="active" >
          <a style="cursor: pointer;" onclick="openNav()">&#9776;</a>
        </li>
        <!---<left-menu></left-menu> -->

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!isSignedIn">
          <a [routerLink]="['/login']">Log In</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isSignedIn">
          <a [routerLink]="['/signup']">Sign Up</a>
        </li>
        <li routerLinkActive="active" *ngIf="isSignedIn">
          <a style="cursor: pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
