<modal [animation]="true" #reopenRequestFormModal>
  <div>
    <modal-header [show-close]="true">
      <b>Do you want to reopen this request?</b>
    </modal-header>

    <modal-body *ngIf="request">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td><b>Title:</b></td>
          <td>{{request.title}}</td>
        </tr>
        <tr>
          <td><b>Description:</b></td>
          <td>{{request.description}}</td>
        </tr>
        <tr>
          <td><b>Creation date:</b></td>
          <td><date-parse [date]="request.dateOfCreation"></date-parse></td>
        </tr>
        <tr>
          <td><b>Priority:</b></td>
          <td>{{request.priorityStatus.name}}</td>
        </tr>
        <tr>
          <td><b>Reporter:</b></td>
          <td>{{request.reporter.firstName}} {{request.reporter.lastName}}</td>
        </tr>
        <tr>
          <td><b>Estimate time(days):</b></td>
          <td>{{request.estimateTimeInDays}}</td>
        </tr>
        </tbody>
      </table>
    </modal-body>

    <modal-footer>
      <div class="btn-toolbar col-md-12">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary col-md-12" (click)="reopenRequest()">Reopen</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-danger col-md-12" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </modal-footer>
  </div>
</modal>
