<modal [animation]="true" (onClose)="closeModal()" (onDismiss)="closeModal()" #requestFormModal>

  <form [formGroup]="requestForm" (ngSubmit)="createNewRequest(requestForm.value)" autocomplete="off" novalidate>
    <modal-header [show-close]="true">
      <h4 class="modal-title"><b>Create new request</b></h4>
    </modal-header>
    <modal-body>
      <!--REQUEST TITLE-->
      <div class="form-group" [ngClass]="{'has-error': !validate('title')}">
        <label for="title">Title:</label>
        <input id="title" type="text" class="form-control" formControlName="title"/>
        <div *ngIf="!validate('title')" class="help-block text-left">
          <span *ngIf="requestForm.get('title')">Message length should be between 5 and 45 characters.</span>
        </div>
      </div>
      <!--REQUEST PRIORITY STATUS-->
      <div class="form-group">
        <label for="priorityStatus">Priority status:</label>
        <select id="priorityStatus" class="form-control" formControlName="priorityStatus">
          <option [ngValue]="priorityStatus" *ngFor="let priorityStatus of priorityStatuses">{{priorityStatus.name}}</option>
        </select>
      </div>
      <!--&lt;!&ndash;REQUEST ESTIMATE TIME&ndash;&gt;
      <div class="form-group" [ngClass]="{'has-error': !validate('estimateTimeInDays')}">
        <label for="estimateTimeInDays">Estimate time (in days):</label>
        <input id="estimateTimeInDays" type="number" class="form-control" formControlName="estimateTimeInDays"/>
        <div *ngIf="!validate('estimateTimeInDays')" class="help-block text-left">
          <span *ngIf="requestForm.get('estimateTimeInDays').hasError('min')">Time in days must be greater then 0.</span>
          <span *ngIf="requestForm.get('estimateTimeInDays').hasError('max')">Time in days must be less then 30.</span>
        </div>
      </div>-->
       <!--REQUEST DESCRIPTION-->
      <div class="form-group" [ngClass]="{'has-error': !validate('description')}">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" rows="5" formControlName="description"></textarea>
        <div *ngIf="!validate('description')" class="help-block text-left">
          <span *ngIf="requestForm.get('description')">Message length should be between 10 and 200 characters.</span>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary col-md-5 pull-left" [disabled]="requestForm.invalid">Submit</button>
        <button type="submit" class="btn btn-danger col-md-5 pull-right" data-dismiss="modal">Close
        </button>
      </div>
    </modal-footer>
  </form>

</modal>
