<modal [animation]="true" #requestFormModal>

  <form [formGroup]="requestForm" (ngSubmit)="createNewRequest(requestForm.value)" autocomplete="off" novalidate>
    <modal-header [show-close]="true">
      <h4 class="modal-title"><b>Create new request</b></h4>
    </modal-header>
    <modal-body>
      <!--REQUEST TITLE-->
      <div class="form-group" [ngClass]="{'has-error': !validateField('title')}">
        <label for="title">Title:</label>
        <input id="title" type="text" class="form-control" formControlName="title"/>
        <div *ngIf="!validateField('title')" class="help-block text-left">
          <span *ngIf="requestForm.get('title').hasError('required')">Title required.</span>
        </div>
      </div>
      <!--REQUEST PRIORITY STATUS-->
      <input type="hidden" name="progressStatus" value="free">
      <!--REQUEST PRIORITY STATUS-->
      <div class="form-group">
        <label for="priorityStatus">Priority status:</label>
        <select id="priorityStatus" class="form-control">
          <option selected>High</option>
          <option>Normal</option>
          <option>Low</option>
        </select>
      </div>
      <!--REQUEST ESTIMATE TIME-->
      <div class="form-group">
        <label for="estimate">Estimate time (in days):</label>
        <input id="estimate" type="number" min="1" class="form-control" value="1"/>
      </div>
      <!--REQUEST REPORTER-->
      <input type="hidden" name="reporter" value="">
      <!--REQUEST ASSIGNEE-->
      <div class="form-group">
        <label for="assignee">Assignee:</label>
        <select id="assignee" class="form-control">
          <option value="">Ivan Ivanov</option>
        </select>
      </div>
      <!--REQUEST DESCRIPTION-->
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" rows="5"></textarea>
      </div>
    </modal-body>
    <modal-footer>
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary col-md-5" [disabled]="requestForm.invalid">Submit</button>
        <button type="submit" class="btn btn-danger col-md-5" data-dismiss="modal">Close
        </button>
      </div>
    </modal-footer>
  </form>

</modal>
