<div class="container" *ngIf="requests">
  <div class="row" *ngIf="!requests.length">
    <div class="header-content">
      <div class="header-content-inner text-center">
        <h1 id="homeHeading">You haven`t assigned requests!</h1>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="requests.length">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div>
          <ul class="nav nav-tabs">
            <li class="active"><a><b>In Progress</b></a></li>
            <li><a [routerLink]="['/assigned/closed']">Closed</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <r-table [requests]="requests" [requestsCount]="pageCount" [settings]="settings" (paginationChange)="pageChange($event)" (perChangeLoad)="perChangeLoad($event)"></r-table>
        </div>
      </div>
    </div>
  </div>
</div>
