p {
  margin: 0;
}

.inline {
  display: inline;
}

hr {
  margin: 5px;
}

.table, .list-group {
  margin-top: 5px;
}

.glyphicon {
  margin: 0 5px;
}

.glyphicon-chevron-up, .glyphicon-chevron-down, .close-box {
  line-height: 140%;
}

.badge {
  background-color: #337AB7;
}

a {
  border-bottom: none;
  line-height: normal;
}

.bold-text {
  font-weight: bold;
}

td {
  text-align: left;
}

.delete-col {
  width: 20px;
}

.glyphicon-trash {
  margin: 0 auto;
}

.add-sub-request {
  margin-bottom: 10px;
  margin-top: 10px;
}

.details {
  width: 30px;
}

.details-btn {
  margin: 0 auto;
}

.no-content-msg {
  margin-top: 10px;
}

.label-info {
  cursor: pointer;
}
