<div class="container" *ngIf="request">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">
        <inline-editor type="text"
                       [(ngModel)]="request.title"
                       (onSave)="updateRequest($event)"
                       size="40"
        >
        </inline-editor>
      </p>
    </div>
    <div class="panel-body">
      <!-- DETAILS & PEOPLES -->
      <div class="row">
        <div class="col-lg-8">
          <p><b>Details:</b></p>
          <table class="table">
            <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Type:</td>
              <td>Request</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Progress status:</td>
              <td>
                <span class="label label-success">{{request?.progressStatus.name}}</span>
              </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Priority status:</td>
              <td>
                <span class="label label-primary">{{request?.priorityStatus.name}}</span>
              </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Date of creation:</td>
              <td>{{request?.dateOfCreation}}</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Estimate time(in days):</td>
              <td>{{request?.estimateTimeInDays}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <p><b>People:</b></p>
          <table class="table">
            <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Reporter:</td>
              <td>
                <a href="#">{{request?.reporter.firstName}} {{request?.reporter.lastName}}</a>
              </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Assignee:</td>
              <td>
                <a href="#">{{request?.assignee.firstName}} {{request?.assignee.lastName}}</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- DESCRIPTION -->
      <div class="row">
        <div class="col-lg-12">
          <p><b>Description:</b>
            <span (click)="changeShowDescription()" *ngIf="showDescription == true"
                  class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowDescription()" *ngIf="showDescription == false"
                  class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <table class="table">
            <tbody>
            <tr>
              <td *ngIf="showDescription">
                <inline-editor type="textarea"
                               [(ngModel)]="request.description"
                               (onSave)="updateRequest($event)"
                               cols="100"
                               rows="3">
                </inline-editor>
              </td>
              <td *ngIf="!showDescription"><i>Click arrow down to show full description</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- SUB REQUESTS -->
      <div class="row">
        <div class="col-lg-12">
          <p><b>Sub requests:</b>
            <span (click)="changeShowSubRequests()" *ngIf="showSubRequests == true"
                  class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowSubRequests()" *ngIf="showSubRequests == false"
                  class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <table class="table">
            <tbody>
            <tr>
              <td *ngIf="showSubRequests"></td>
              <td *ngIf="!showSubRequests"><i>Click arrow down to show full sub requests list</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- JOINED REQUESTS -->
      <div class="row">
        <div class="col-lg-12">
          <p><b>Joined requests:</b>
            <span (click)="changeShowJoinedRequests()" *ngIf="showJoinedRequests == true"
                  class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowJoinedRequests()" *ngIf="showJoinedRequests == false"
                  class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <table class="table">
            <tbody>
            <tr>
              <td *ngIf="showJoinedRequests"></td>
              <td *ngIf="!showJoinedRequests"><i>Click arrow down to show full joined requests list</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- HISTORY -->
      <div class="row">
        <div class="col-lg-12">
          <p><b>History:</b>
            <span (click)="changeShowHistory()" *ngIf="showHistory == true"
                  class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowHistory()" *ngIf="showHistory == false"
                  class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <ul class="list-group" *ngIf="showHistory">
          </ul>
          <table class="table" *ngIf="!showHistory">
            <tbody>
            <tr>
              <td><i>Click arrow down to show full history</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
