<div class="container col-lg-offset-1 col-lg-10" *ngIf="request">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title height30">
      <span class="col-lg-8 col-md-8 col-sm-8">
        <inline-editor type="text"
                       [(ngModel)]="request.title"
                       (onSave)="updateRequest($event)"
                       size="40"
                       [disabled]="isAdmin() && isFree(request) && isAssignee(request)">
        </inline-editor>
      </span>
      <span class="col-lg-4 col-md-4 col-sm-4">
        <button *ngIf="!isEmployee() && !isAssigneeOfRequest()" class="btn btn-info pull-right" (click)="follow()">
          <span class="glyphicon" [ngClass]="followed ? 'glyphicon glyphicon-ban-circle' : 'glyphicon-flash info'"
                [textContent]="followed ? ' Unfollow':' Follow'"></span>
        </button>
      </span>
      </p>
    </div>
    <div class="panel-body">
      <!-- DETAILS & PEOPLES -->
      <div class="row">
        <div class="col-lg-8">
          <p><b>Details:</b></p>
          <table class="table">
            <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Type:</td>
              <td>{{type}}</td>
            </tr>
            <tr *ngIf="type != 'Sub request'">
              <td><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Progress status:</td>
              <td>
                <progress-marker [value]="request.progressStatus.name"></progress-marker>
              </td>
            </tr>
            <tr *ngIf="type != 'Sub request'">
              <td><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Priority status:</td>
              <td>
                <priority-marker [value]="request.priorityStatus.name"></priority-marker>
              </td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Date of creation:</td>
              <td>
                <date-parse [date]="request.dateOfCreation"></date-parse>
              </td>
            </tr>
            <tr *ngIf="type == 'Request'">
              <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Estimate time(in days):</td>
              <td>{{request.estimateTimeInDays}}</td>
            </tr>
            <tr *ngIf="type != 'Request'">
              <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Parent request:</td>
              <td><span class="label label-info" [routerLink]="['/request', request.parentId]">Details</span></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <p><b>People:</b></p>
          <table class="table">
            <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Reporter:</td>
              <td>
                <a [routerLink]="['/user', request.reporter.id]">{{request.reporter.firstName}}
                  {{request.reporter.lastName}}</a>
              </td>
            </tr>
            <tr *ngIf="type == 'Request'">
              <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Assignee:</td>
              <td>
                <a [routerLink]="['/user', request.assignee.id]">{{request.assignee.firstName}}
                  {{request.assignee.lastName}}</a>
              </td>
            </tr>
            </tbody>
          </table>
          <p><b>Export:</b></p>
          <table class="table">
            <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Download:</td>
              <td>
                <button type="button" (click)="getPDF()" class="btn btn-danger">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF
                  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- DESCRIPTION -->
      <div class="row">
        <div class="col-lg-12">
          <p><b>Description:</b>
            <span (click)="changeShowDescription()" *ngIf="showDescription == true"
                  class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowDescription()" *ngIf="showDescription == false"
                  class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <table class="table">
            <tbody>
            <tr>
              <td *ngIf="showDescription">
                <div class="layer">
                  <inline-editor type="textarea"
                                 [(ngModel)]="request.description"
                                 (onSave)="updateRequest($event)"
                                 [disabled]="isAdmin() && isFree(request) && isAssignee(request)"
                                 cols="100"
                                 rows="4">
                  </inline-editor>
                </div>

              </td>
              <td *ngIf="!showDescription"><i>Click arrow down to show full description</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- SUB REQUESTS -->
      <div class="row" *ngIf="type == 'Request' && !isEmployee()">
        <div class="col-lg-12">
          <p><b>Sub requests:</b>
            <span (click)="changeShowSubRequests()" *ngIf="showSubRequests == true && subRequests != false"
                  class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowSubRequests()" *ngIf="showSubRequests == false && subRequests != false"
                  class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <button *ngIf="showSubRequests && type == 'Request' && isInProgress(request)"
                  class="btn btn-success btn-xs pull-right add-sub-request" (click)="openAddSubRequestModal()">New sub
            request
          </button>
          <p class="no-content-msg">
            <i *ngIf="subRequests == false">There are no sub requests at that moment.</i>
          </p>
          <p class="no-content-msg">
            <i *ngIf="!showSubRequests">Click arrow down to show full sub requests list.</i>
          </p>
          <table class="table table-bordered table-hover">
            <tbody>
            <tr *ngIf="subRequests != false">
              <td *ngIf="showSubRequests"><b>Title</b></td>
              <td *ngIf="showSubRequests"><b>Description</b></td>
              <td *ngIf="showSubRequests"><b>Date of creation</b></td>
              <td *ngIf="showSubRequests && !isClosed(request)"><b>Delete</b></td>
            </tr>
            <tr *ngFor="let subRequest of subRequests" >
              <td *ngIf="showSubRequests" [routerLink]="['/request', subRequest.id]">{{subRequest.title}}</td>
              <td *ngIf="showSubRequests" [routerLink]="['/request', subRequest.id]">{{subRequest.description}}</td>
              <td *ngIf="showSubRequests" [routerLink]="['/request', subRequest.id]">
                <date-parse [date]="subRequest.dateOfCreation"></date-parse>
              </td>
              <td *ngIf="showSubRequests && !isClosed(request)" class="text-center delete-col">
                <button [attr.value]="subRequest.id" class="glyphicon glyphicon-trash center-block btn btn-danger btn-xs"
                        (click)="openDeleteSubRequestModal(subRequest)"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- JOINED REQUESTS -->
      <div class="row" *ngIf="type == 'Request'">
        <div class="col-lg-12">
          <p><b>Joined requests:</b>
            <span (click)="changeShowJoinedRequests()" *ngIf="showJoinedRequests == true && joinedRequests != false"
                  class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowJoinedRequests()" *ngIf="showJoinedRequests == false && joinedRequests != false"
                  class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <p class="no-content-msg">
            <i *ngIf="joinedRequests == false">There are no joined requests at that moment.</i>
          </p>
          <p class="no-content-msg">
            <i *ngIf="!showJoinedRequests">Click arrow down to show full joined requests list</i>
          </p>
          <table class="table table-bordered table-hover">
            <tbody>
            <tr *ngIf="joinedRequests != false">
              <td *ngIf="showJoinedRequests"><b>Title</b></td>
              <td *ngIf="showJoinedRequests"><b>Reporter</b></td>
              <td *ngIf="showJoinedRequests"><b>Priority</b></td>
              <td *ngIf="showJoinedRequests"><b>Date of creation</b></td>
            </tr>
            <tr *ngFor="let joinedRequest of joinedRequests">
              <td *ngIf="showJoinedRequests" [routerLink]="['/request', joinedRequest.id]">{{joinedRequest.title}}</td>
              <td *ngIf="showJoinedRequests" [routerLink]="['/request', joinedRequest.id]">{{joinedRequest.reporter.firstName}} {{joinedRequest.reporter.lastName}}</td>
              <td *ngIf="showJoinedRequests" [routerLink]="['/request', joinedRequest.id]"><priority-marker [value]="joinedRequest.priorityStatus.name"></priority-marker></td>
              <td *ngIf="showJoinedRequests" [routerLink]="['/request', joinedRequest.id]"><date-parse [date]="joinedRequest.dateOfCreation"></date-parse></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- HISTORY -->
      <div class="row">
        <div class="col-lg-12">
          <p><b>History:</b>
            <span (click)="changeShowHistory()" *ngIf="showHistory == true && historyRecords !=false"
                  class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span (click)="changeShowHistory()" *ngIf="showHistory == false && historyRecords !=false"
                  class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <p class="no-content-msg">
            <i *ngIf="showHistory == false && historyRecords">Click arrow down to show full history.</i>
          </p>
          <p class="no-content-msg">
            <i *ngIf="showHistory == true && historyRecords == false">This object was not changed.</i>
          </p>
          <table class="table table-bordered">
            <tbody>
            <tr *ngFor="let history of historyRecords">
              <td *ngIf="showHistory">
                <span>
                  {{showHistoryMessage(history)}}
                  by <span class="bold-text"><a [routerLink]="['/user', history.changer.id]">{{history.changer.firstName}} {{history.changer.lastName}}</a></span>
                </span>
              </td>
              <td *ngIf="showHistory" width="40px">
                <span class="bold-text"><span class="badge pull-right"><date-parse [date]="history.dateOfChange"></date-parse></span></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p><b>Followers:</b>
            <span *ngIf="showFollowers " (click)="toggleFollowersShowing()" class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true"></span>
            <span *ngIf="!showFollowers && followers != false" (click)="toggleFollowersShowing()" class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true"></span>
          </p>
          <p class="no-content-msg">
            <i *ngIf="followers == false">There are no followers at that moment.</i>
          </p>
          <table class="table table-bordered table-hover" >
            <tbody>
            <tr *ngIf="showFollowers">
              <td *ngIf="showFollowers"><b>First Name</b></td>
              <td *ngIf="showFollowers"><b>Last Name</b></td>
              <td *ngIf="showFollowers"><b>Email</b></td>
            </tr>
            <tr *ngFor="let follower of followers">
              <td *ngIf="showFollowers" [routerLink]="['/user', follower.id]">{{follower.firstName}}</td>
              <td *ngIf="showFollowers" [routerLink]="['/user', follower.id]">{{follower.lastName}}</td>
              <td *ngIf="showFollowers" [routerLink]="['/user', follower.id]">{{follower.email}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <add-sub-request [subRequests]="subRequests" [parentId]="request.id"
                   (updated)="updateSubRequests($event)"></add-sub-request>
  <delete-sub-request [subRequests]="subRequests" (updated)="updateSubRequests($event)"></delete-sub-request>
</div>
