<div class="container col-lg-offset-2 col-lg-9" *ngIf="user">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title">
        <b>{{user.firstName}} {{user.lastName}} profile</b>
      </p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4">
          <gravatar [email]="user.email" [size]="160"></gravatar><br>
          <a href="/forum/chat?userId={{user.id}}"><button class="btn btn-primary center-block">Send message</button></a>
        </div>
        <div class="col-lg-8">
          <table class="table">
            <tbody>
            <tr>
              <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span>First name:</td>
              <td>{{user.firstName}}</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Last name:</td>
              <td>{{user.lastName}}</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Second name:</td>
              <td>{{user.secondName}}</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email:</td>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Birth date:</td>
              <td>{{user.dateOfBirth}}</td>
            </tr>
            <tr>
              <td><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>Phone:</td>
              <td>{{user.phoneNumber}}</td>
            </tr>
            <tr><td></td><td></td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <h5 align="center" *ngIf="hasAnyRequest && !hasSixMonthsRec">User hasn't had any request yet.</h5>

      <div class="header-content" *ngIf="hasSixMonthsRec">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="input-group col-lg-3 pull-right">
              <input type="number" class="form-control" [(ngModel)]="setPeriod" placeholder="months">
              <span class="input-group-btn">
                <button class="btn btn-primary" (click)="setStatisticByPeriod(setPeriod)"
                        type="button">Calculate</button>
              </span>
            </div>
            <br>
            <div class="row">
              <google-chart *ngIf="hasSixMonthsRec" [data]="pieChartRequestForOpenClosed"></google-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="header-content" >
        <div class="panel panel-default">
          <div class="panel-body">
            <br>
            <div class="row">
              <google-chart *ngIf="hasRequest" [data]="pieChartRequest" ></google-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



