<modal [animation]="true" #assignRequestFormModal>
  <div *ngIf="request">
    <modal-header [show-close]="true">
      <b>Do you want to assign this request?</b>
    </modal-header>

    <modal-body>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td><b>Title:</b></td>
          <td>{{request.title}}</td>
        </tr>
        <tr>
          <td><b>Description:</b></td>
          <td>{{request.description}}</td>
        </tr>
        <tr>
          <td><b>Creation date:</b></td>
          <td><date-parse [date]="request.dateOfCreation"></date-parse></td>
        </tr>
        <tr>
          <td><b>Priority:</b></td>
          <td>{{request.priorityStatus.name}}</td>
        </tr>
        <tr>
          <td><b>Reporter:</b></td>
          <td>{{request.reporter.firstName}} {{request.reporter.lastName}}</td>
        </tr>
        <tr>
          <td><b>Estimate time(days):</b></td>
          <td><input type="number"
                     [value]="request.estimateTimeInDays"
                     (input)="request.estimateTimeInDays = $event.target.value"
                     class="col-lg-3 center-block form-control"
                     min="1"
                     max="30"></td>
        </tr>
        </tbody>
      </table>
    </modal-body>

    <modal-footer>
      <div class="btn-toolbar col-md-12">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary col-md-12" (click)="assignRequest()">Assign</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-danger col-md-12" data-dismiss="modal">Close</button>
        </div>
      </div>
    </modal-footer>
  </div>
</modal>
