<div class="container" *ngIf="requests">
  <div class="row" *ngIf="!requests.length">
    <div class="header-content">
      <div class="header-content-inner text-center">
        <h1 id="homeHeading">No requests on the record</h1>
        <hr>
        <p>Start off by creating new request</p>
        <a class="btn btn-primary btn-xl">Create request</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#freeRequests" data-toggle="tab">
                <h2 class="panel-title">Free Requests</h2>
              </a>
            </li>
            <li>
              <a href="#myRequests" data-toggle="tab" (click)="fetchMyRequests(1)">
                <h2 class="panel-title">My Requests</h2>
              </a>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="freeRequests" *ngIf="requests.length">
              <r-table [requests]="requests" [requestsCount]="pageCount" [settings]="settings"
              (paginationChange)="pageChange($event)" (selectedEvent)="select($event)"></r-table>
            </div>
            <div class="tab-pane fade" id="myRequests">
              <div class="text-center" *ngIf="!myRequests.length">
                <h2>No requests assigned yet</h2>
              </div>
              <div *ngIf="myRequests.length">
                <r-table [requests]="myRequests" [requestsCount]="myPageCount" [settings]="mySettings"></r-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<assign-request [requests]="requests" (updated)="updateRequests($event)"></assign-request>
<join-request [requests]="requests" [checked]="checked" (updated)="updateRequests($event)"></join-request>
