table {
  background-color: white;
}

.paginate_button {
  cursor: pointer;
}

.pagination {
  margin: 0;
}

.buttons {
  margin-bottom: 0;
}

td {
  text-align: left;
}

.activate {
  width: 30px;
}

th:hover {
  background-color: #337AB7;
  color: white;
  cursor: pointer;
}

.td-center {
  text-align: center;
}

.glyphicon-triangle-bottom:before, .glyphicon-triangle-top:before {
  vertical-align: middle;
}

.panel {
  border-top: 0;
  border-radius: 0 4px 4px 4px;
}

.nav-tabs > li.active > a {
  background-color: #337AB7;
  color: white;
}

.nav-tabs > li > a {
  font-weight: bold;
}
