<div class="container">

  <form-template>
    <div class="template-header">
      Forum
      <button class="btn btn-primary btn-xs pull-right" (click)="topicModal.open()">New topic
      </button>
    </div>
    <div class="template-body">
      <ul class="list-group">
        <li class="list-group-item titles">
          <div class="row">
            <div class="col-lg-7 col-sm-7 col-xs-7">
              <b>Topic title</b>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-2">
              <b>Topic role</b>
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-1">
              <b>Messages</b>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-2">
              <b>Last update</b>
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let topic of topics">
          <div class="row">
            <div class="col-lg-7 col-sm-6 col-xs-6">
              <img class="topic-logo" src="http://www.crazynomad.in/img/Article1.png" alt="article-logo">
              <a href="/topic">{{topic.title}}</a>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-2">
              {{topic.role}}
            </div>
            <div class="col-lg-1 col-sm-1 col-xs-1 text-center">
              {{topic.messages}}
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-3">
              by <a href="#">{{topic.lastUpdate.author}}</a><br>
              {{topic.lastUpdate.date}}
            </div>
          </div>
        </li>
      </ul>
      <ul class="pagination pull-left">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
      </ul>
    </div>
  </form-template>

  <modal [animation]="true" #topicModal>
    <form autocomplete="off" novalidate>
      <modal-header [show-close]="true">
        <h4 class="modal-title"><b>Create new topic</b></h4>
      </modal-header>
      <modal-body>
        <!--TOPIC TITLE-->
        <div class="form-group">
          <label for="title">Title:</label>
          <input id="title" type="text" class="form-control" required/>
        </div>
        <!--TOPIC ROLE-->
        <div class="form-group">
          <label for="priorityStatus">Role:</label>
          <select id="priorityStatus" class="form-control">
            <option selected>Employees</option>
            <option>Office managers</option>
          </select>
        </div>
      </modal-body>
      <modal-footer [show-default-buttons]="true"></modal-footer>
    </form>
  </modal>

</div>
