<div class="container col-lg-offset-2 col-lg-8" *ngIf="topics">

  <form-template>
    <div class="template-header">
      Forum
      <button class="btn btn-primary btn-xs pull-right" (click)="topicModal.open()">New topic
      </button>
    </div>
    <div class="template-body">
      <ul class="list-group">
        <li class="list-group-item titles">
          <div class="row">
            <div class="col-lg-9 col-sm-7 col-xs-7">
              <b>Topic title</b>
            </div>
            <div class="col-lg-3 col-sm-2 col-xs-2">
              <b>Topic role</b>
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let topic of topics">
          <div class="row">
            <div class="col-lg-9 col-sm-6 col-xs-6">
              <img class="topic-logo" src="http://www.crazynomad.in/img/Article1.png" alt="article-logo">
              <a href="/topic">{{topic.title}}</a>
            </div>
            <div class="col-lg-3 col-sm-2 col-xs-2">

            </div>
          </div>
        </li>
      </ul>
      <ul class="pagination pull-right">
        <li class="paginate_button active" (click)="load($event)"><a>1</a></li>
        <li class="paginate_button" (click)="load($event)" *ngFor="let item of createRange(pageCount)"><a>{{item}}</a>
        </li>
      </ul>
    </div>
  </form-template>

  <modal [animation]="true" #topicModal>
    <form autocomplete="off" novalidate>
      <modal-header [show-close]="true">
        <h4 class="modal-title"><b>Create new topic</b></h4>
      </modal-header>
      <modal-body>
        <!--TOPIC TITLE-->
        <div class="form-group">
          <label for="title">Title:</label>
          <input id="title" type="text" class="form-control" required/>
        </div>
        <!--TOPIC ROLE-->
        <div class="form-group">
          <label for="priorityStatus">Role:</label>
          <select id="priorityStatus" class="form-control">
            <option selected>Employees</option>
            <option>Office managers</option>
          </select>
        </div>
      </modal-body>
      <modal-footer [show-default-buttons]="true"></modal-footer>
    </form>
  </modal>

</div>
