<div class="container col-lg-offset-2 col-lg-8" *ngIf="topics">

  <form-template>
    <div class="template-header">
      Forum
      <button class="btn btn-primary btn-xs pull-right" (click)="topicModal.open()">New topic
      </button>
    </div>
    <div class="template-body">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Topic title</th>
          <th>Topic role</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer;" *ngFor="let topic of topics" [routerLink]="['./topic', topic.id]">
          <td class="title">
            <img class="topic-logo" src="http://www.crazynomad.in/img/Article1.png" alt="article-logo">
            {{topic.title}}
          </td>
          <td>
            <!--{{topic.role.name}}-->
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="pagination pull-right">
        <li class="paginate_button active" (click)="load($event)"><a>1</a></li>
        <li class="paginate_button" (click)="load($event)" *ngFor="let item of createRange(pageCount)"><a>{{item}}</a>
        </li>
      </ul>
    </div>
  </form-template>

  <modal [animation]="true" #topicModal>
    <form [formGroup]="topicForm" (ngSubmit)="createNewTopic(topicForm.value)" autocomplete="off" novalidate>
      <modal-header [show-close]="true">
        <h4 class="modal-title"><b>Create new topic</b></h4>
      </modal-header>
      <modal-body>
        <!--TOPIC TITLE-->
        <div class="form-group" [ngClass]="{'has-error': !validate('title')}">
          <label for="title">Title:</label>
          <input id="title" type="text" class="form-control" required formControlName="title"/>
          <div *ngIf="!validate('title')" class="help-block text-left">
            <span *ngIf="topicForm.get('title')">Title length should be between 2 and 20 characters.</span>
          </div>
        </div>
        <!--TOPIC ROLE-->
        <div class="form-group">
          <label for="priorityStatus">Role:</label>
          <select id="priorityStatus" class="form-control">
            <option selected>Employees</option>
            <option>Office managers</option>
          </select>
        </div>
      </modal-body>
      <modal-footer>
        <div class="btn-toolbar">
          <button type="submit" class="btn btn-primary col-lg-5 pull-left" [disabled]="topicForm.invalid">Submit</button>
          <button type="button" class="btn btn-danger col-lg-5 pull-right" data-dismiss="modal">Close
          </button>
        </div>
      </modal-footer>
    </form>
  </modal>

</div>
