.topic-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.titles {
  background-color: #F5F5F5;
}

.panel {
  border-color: #337AB7;
}

.panel-heading {
  background-color: #337AB7;
  color: white;
}

.pagination {
  margin: 0;
}

.btn-div {
  margin-top: 15px;
}
